<footer class="footer">
  <div class="content has-text-centered">
    <p class="is-active">
      <strong>News</strong> by <a href="#">Sebastian Mathiasen</a>. The source code is licensed
      <a href="https://newsapi.org/">NewsAPI</a>. 
      
    </p>
  </div>
</footer>