<link rel="stylesheet" href="/style/loginForm.css">

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-black">Please login to proceed.</p>
        <div class="box">
          <form action="/users/login" method="POST">
            <div class="field">
              <div class="control">
                <label for="user" class="form-label">Email</label>
                <input name="email" class="input is-large form-control" type="email" id="email" placeholder="Your Email"
                  autofocus autocomplete="username">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="pass" class="form-label">Password</label>
                <input name="pass" class="input is-large form-control" id="pass" type="password"
                  placeholder="Your Password" autocomplete="current-password">
              </div>
            </div>
            {{#if message}}
            <div class="box has-background-danger" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="gbi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <div>
                {{message}}
              </div>
            </div>
            {{/if}}
            <button class="button is-block is-info is-large is-fullwidth">Login<i class="fa fa-sign-in"
                aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/users/register">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  (function() {
    var burger = document.querySelector('.burger');
    var menu = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function() {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
    });
})();
</script>