<link rel="stylesheet" href="/style/registerForm.css">

<section class="container">
  <div class="columns is-multiline">
    <div class="column is-10 is-offset-1 register">
      <div class="columns">
        <div class="column left">
          <h1 class="title is-1">Error</h1>
          <h2 class="subtitle colored is-4 has-text-link">You are not authorized to access this content</h2>
          <p>Please register to learn more</p>
        </div>
        <div class="column is-flex is-justify-content-space-evenly right">
          <a href="/users/register">
            <button class="button is-block is-primary has-background-info-dark has-text-white" type="button">
              Register
            </button>
          </a>
          <a href="/">
            <button class="button is-block is-primary has-background-info-dark has-text-white" type="button">
              Back home
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="column is-8 is-offset-2">
    <br>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span> &emsp;
          <span class="icon">
            <i class="fab fa-facebook"></i>
          </span> &emsp;
          <span class="icon">
            <i class="fab fa-instagram"></i>
          </span> &emsp;
          <span class="icon">
            <i class="fab fa-github"></i>
          </span> &emsp;
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
    </nav>
  </div>
  </div>
</section>